<template>
  <div class="cat-form">
    <form class="form" @submit.prevent="validateBeforeSubmit">
      <div class="fields">
        <div>
          <label>Кличка</label>
          <InputText
            autocomplete="off"
            type="text"
            v-model="current_cat.nickname"
            name="Кличка"
            v-validate="'required'"
            :error="errors.first('Кличка') && submitted ? true : false"
            :error-messages="submitted ? errors.collect('Кличка') : ''"
          />
          <span class="error-span">{{ errors.first("Кличка") }}</span>
        </div>
        <div>
          <label>Титул</label>
          <InputText
            autocomplete="off"
            type="text"
            v-model="current_cat.dignity"
            name="Титул"
            v-validate="'required'"
            :error="errors.first('Титул') && submitted ? true : false"
            :error-messages="submitted ? errors.collect('Титул') : ''"
          />
          <span class="error-span">{{ errors.first("Титул") }}</span>
        </div>
        <div>
          <label>Окрас</label>
          <InputText
            autocomplete="off"
            type="text"
            v-model="current_cat.color"
            name="Окрас"
            v-validate="'required'"
            :error="errors.first('Окрас') && submitted ? true : false"
            :error-messages="submitted ? errors.collect('Окрас') : ''"
          />
          <span class="error-span">{{ errors.first("Окрас") }}</span>
        </div>
        <div>
          <label>Фотографии</label>
          <FileUpload
            class="file-container"
            :customUpload="true"
            @select="addSelectedImages"
            :multiple="true"
            ref="attachmentsUpload"
            accept="image/*"
            :showUploadButton="false"
            mode="advanced"
          >
            <template #empty="emptyFiles" @select="onselect(emptyFiles)">
              <p>Кликните "Choose" или переместите сюда изображение(я).</p>
            </template>
          </FileUpload>
        </div>
      </div>
      <div class="actions">
        <button
          class="clear"
          type="button"
          @click="clearFields()"
        >
          Очистить поля
        </button>
        <button class="save" type="submit">Сохранить</button>
      </div>
    </form>
  </div>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator'

import cats_service from '@/modules/cats'
import { Cat } from '@/modules/cats/types'

import InputText from 'primevue/inputtext'
import FileUpload from 'primevue/fileupload'

Vue.component('InputText', InputText)
Vue.component('FileUpload', FileUpload)

@Component
export default class CatForm extends Vue {
  current_cat: Cat = Object.assign({}, cats_service.blank_cat)
  submitted: boolean = false
  selected_images: Array<File> = []

  clearFields() {
    this.current_cat = Object.assign({}, cats_service.blank_cat)

    // @ts-ignore
    this.$refs.attachmentsUpload.files = [];
  }
  onUploader(event: any) {
    const files = event.files
    console.log('files', files)
    files.forEach(async (f: any) => {

    })
  }
  addSelectedImages(event: any) {
    console.log(event)
    event.files.forEach((file: any) => {
      console.log('file', file)
      this.selected_images.push(file)
    })
  }
  validateBeforeSubmit() {
    this.submitted = true;
    // @ts-ignore
    this.$validator.validateAll().then((result: any) => {      
      if (result) {
        this.submitted = false;
        this.$emit('saveCat', this.current_cat, this.selected_images)
        this.clearFields()
      }
    });
  }
}
</script>

<style scoped lang="sass">
.cat-form
  .form
    max-width: 650px

    .file-container
      display: flow-root
      margin: 0px

      .p-button
        span
          font-size: 0.9em !important

      ::v-deep .p-fileupload-buttonbar
        button
          display: none

      ::v-deep .p-fileupload-empty
        width: 100%
        text-align: center
        border: 1px dashed #867787

      ::v-deep .p-fileupload-content 
        display: -webkit-box
        min-height: 81px

      ::v-deep .p-progressbar 
        display: none

      ::v-deep .p-button
        background: inherit
        border: none
        margin: 5px
        color: #4383d1 !important
        outline: none
        padding-left: 0
        margin-left: 0

    div
      margin-bottom: 15px
      display: grid

      label
        font-size: .9em
        color: #777
</style>
