<template>
  <div class="for-sale-cats">
    <CatForm
      @saveCat="saveSaleCat"
    />
    <h2>Список</h2>
  </div>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator'

import cats_service from '@/modules/cats'

import CatForm from '@/components/AdminPanel/CatForm.vue'
import { Cat } from '@/modules/cats/types'

import InputText from 'primevue/inputtext'
Vue.component('InputText', InputText)

@Component({
  components: {
    CatForm
  }
})
export default class ManagerForSaleCats extends Vue {

  // async created() {
  //   await this.getForSaleCats()
  // }
  // async getForSaleCats() {
  //   await cats_service.getForSaleCats()
  // }
  async saveSaleCat(cat: Cat) {

  }
}
</script>

<style scoped lang="sass">

</style>
