<template>
  <div class="parent-cats">
    <CatForm
      @saveCat="saveParentCat"
    />

    <h2>Список</h2>
    
    <div class="list">
      <div
        class="list-item p-col-12 p-md-6 p-lg-4"
        v-for="cat in cats_list"
        :key="cat.id"
      >
        <div class="nickname">{{ cat.nickname }}</div>
        <div class="dignity">{{ cat.dignity }}</div>
        <div class="color">{{ cat.color }}</div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator'

import cats_service from '@/modules/cats'
import { Cat } from '@/modules/cats/types'

import CatForm from '@/components/AdminPanel/CatForm.vue'

import InputText from 'primevue/inputtext'
Vue.component('InputText', InputText)

@Component({
  components: {
    CatForm
  }
})
export default class ManagerParentCats extends Vue {

  get cats_list() {
    return cats_service.parent_cats
  }

  async created() {
    await this.getParentCats()
  }

  async getParentCats() {
    try {
      const response = await cats_service.getParentCat()
    } catch (err) {
      
    }
  }

  async saveParentCat(cat: Cat, images: Array<File>) {
    console.log('images', images)
    try {
      const response = await cats_service.saveParentCat({cat, images})
      console.log('from view response', response)
    } catch (err) {
      console.log('from view err', err)
    }
  }
}
</script>

<style scoped lang="sass">
.parent-cats
  .form
    max-width: 650px
    div
      margin-bottom: 15px
      display: grid

      label
        font-size: .9em
        color: #777
  
  .list
    display: flex
    flex-wrap: wrap
    justify-content: space-between

    .list-item
      border: 1px solid #dee2e6
      border-radius: 4px
      
      margin-right: -.5rem
      margin-top: 4px

      padding: 24px
      text-align: center

      .nickname
        font-weight: 700
        font-size: 14px

      .dignity
        margin-top: 8px  
</style>
