<template>
  <div class="admin">
    <TabMenu :model="tabs_items"/>
    <router-view />
  </div>
</template>
<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

import TabMenu from "primevue/tabmenu";
Vue.component("TabMenu", TabMenu);

@Component
export default class Admin extends Vue {
  tabs_items: Array<any> = [
    {
      label: "Коты и Кошки",
      icon: "fas fa-paw",
      to: "/admin/parent-cats",
    },
    {
      label: "Свободные котята",
      icon: "fas fa-certificate",
      to: "/admin/for-sale-cats"
    },
  ]
}
</script>
<style lang="sass">
.admin
  padding: 24px
  margin-top: 70px
</style>
