<template>
  <div class="contacts">
    <div class="content">
      <div class="description">
        <p>
          Если у Вас возникли дополнительные вопросы и нужно получить больше
          информации, то можете связаться с нами удобным для вас образом:
          позвонить по номеру телефона, написать в WhatsApp / на почту. Будем рады
          помочь вам!
        </p>
        <p>
          Если у Вас остались вопросы – напишите нам на почту
          russkaia40@gmail.com.
        </p>
        <p>
          С нами можно связаться - ежедневно, с 08:00 до 23:00.
        </p>
        <p>
          Обратите внимание:
          мы находимся в Новосибирске (Россия) и время ответа будет зависеть от
          Вашего местоположения.
        </p>
      </div>
      <div class="yandex-map">
        <iframe
          src="https://yandex.ru/map-widget/v1/?um=constructor%3A7f4b1a7e08bfd423f935cde3ea4dfa90912ddf2920b2be6374ebafe3cefbd611&amp;source=constructor"
          width="736"
          height="426"
          frameborder="0"
        ></iframe>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator";

@Component
export default class Contacts extends Vue {}
</script>

<style scoped lang="sass">
.contacts
  width: 100%
  padding: 4em

  .content
    width: 80%
    margin: 0 auto

    .description
      line-height: 33px
      margin-bottom: 30px

    .yandex-map
      iframe
        width: 100%
</style>
