<template>
  <div class="parent-cats">
    <div class="list p-col-12 p-md-10 p-lg-8">
      <div
        class="list-item"
        v-for="cat in cats_list"
        :key="cat.id"
      > 
        <div class="image p-col-5 p-md-7 p-lg-6">
          <img :src="getFirstImage(cat.Images)" alt="">
        </div>
        <div class="list-item--information">
          <div class="nickname">{{ cat.Nickname }}</div>
          <div class="birthday">{{ cat.birthday }}</div>
          <div class="sex">{{ cat.sex }}</div>
          <div class="color">{{ cat.Color }}</div>

          <!-- <button class="details-button">Подробнее</button> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator'

import cats_service from '@/modules/cats'
import { Cat } from '@/modules/cats/types'

import CatForm from '@/components/AdminPanel/CatForm.vue'

import InputText from 'primevue/inputtext'
Vue.component('InputText', InputText)

@Component({
  components: {
    CatForm
  }
})
export default class ManagerParentCats extends Vue {
  sex: string = this.$route.name!

  getFirstImage(images: Array<any>) {
    if (images && images.length > 0) {
      console.log('images[0]', images[0])
      return `${process.env.VUE_APP_STRAPI_DEVELOP}${images[0].url}`
    } else {
      return ''
    }
  }
  get cats_list(): Array<Cat> {
    return cats_service.for_sale_cats
  }

  async created() {
    await this.getForSaleCats()
  }

  async getForSaleCats() {
    try {
      await cats_service.getForSaleCats()
    } catch (err) {
      
    }
  }
}
</script>

<style scoped lang="sass">
.parent-cats
  .list
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 0 auto

    .list-item
      display: flex
      justify-content: start

      width: 100%

      // border: 1px solid #dee2e6
      // border-radius: 4px
      
      margin-right: -.5rem
      margin-top: 4px

      padding: 24px
      // text-align: center

      .image
        display: block
        max-width: 100%
        height: auto
        padding: 0

        img
          width: 100%
          border-radius: 4px
      &--information
        margin-left: 15px

        .nickname
          font-weight: 700
          font-size: 26px
          word-break: break-word

        .birthday, .sex, .color
          margin-top: 8px

        .details-button
          border: none
          outline: none

          margin: 50px 0
          padding: 7px 15px

          font-size: 16px

          background: transparent
          border: 1px solid #777
          border-radius: 4px

          &:hover
            cursor: pointer
</style>
