<template>
  <div class="home">
    <Galleria/>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

import Galleria from '@/components/Home/Galleria.vue'

@Component({
  components: {
    Galleria
  }
})
export default class Home extends Vue {
  
}
</script>
