<template>
  <div class="galleria">
    <Galleria
      :value="images"
      :circular="true"
      :showItemNavigators="true"
      :showItemNavigatorsOnHover="true"
      :showThumbnails="false"
      :autoPlay="true"
      :transitionInterval="6000"
    >
      <template #item="slotProps">
        <img
          :src="slotProps.item.itemImageSrc"
          :alt="slotProps.item.alt"
          style="width: 100%; display: block"
        />
      </template>
      <template #thumbnail="slotProps">
        <img
          :src="slotProps.item.thumbnailImageSrc"
          :alt="slotProps.item.alt"
          style="display: block"
        />
      </template>
    </Galleria>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"
import { axios } from '@/main'

import Galleria from 'primevue/galleria'
Vue.component('Galleria', Galleria)

@Component
export default class Home extends Vue {
  images: Array<any> = []

  async created() {
    try {
      const response = await axios.get('/carousels')

      if (response.data && Array.isArray(response.data)) {
        response.data[0].images.forEach((item: any) => {
          this.images.push({
            itemImageSrc: `${process.env.VUE_APP_STRAPI_DEVELOP}${item.url}`
          })
        })
        console.log('this.images', this.images)
      }
      console.log('response', response.data)
    } catch (err) {
      console.log(err)
    }
  }
}
</script>
<style lang="sass">
.p-galleria-item
  img
    height: 700px
    object-fit: cover
    object-position: 50% 50%
</style>