<template>
  <div id="app">
    <Navbar/>
    <router-view :key="$route.path" class="router-view" />
    <Footer/>
  </div>
</template>
<script lang="ts">
import { Component, Vue} from 'vue-property-decorator'

import Navbar from '@/components/Utils/Navbar.vue'
import Footer from '@/components/Utils/Footer.vue'

import Menubar from 'primevue/menubar'
Vue.component('Menubar', Menubar)

@Component({
  components: {
    Navbar,
    Footer
  }
})
export default class App extends Vue {
  
}
</script>
<style lang="sass">
html, body 
  padding: 0
  margin: 0
  height: 100%

html
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(249,249,207,1) 36%, rgba(249,249,207,1) 100%);
#app
  font-family: Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

  color: #2c3e50

  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%

  .router-view
    margin-top: 99px

  .error-span
    color: red
    font-size: 0.7em

  .actions
      display: flex
      justify-content: flex-end
      align-content: center

      button
        padding: 5px 10px
        border-radius: 4px
        cursor: pointer
        outline: none
      
      .clear
        margin-right: 10px
        background-color: transparent
        border: 1px solid rgb(241, 36, 0)
        color: rgb(241, 36, 0)
        
        &:hover
          background-color: rgb(241, 36, 0)
          color: #fff

      .save
        background-color: #fff
        border: 1px solid rgb(0, 153, 255)
        color: rgb(0, 153, 255)
        transition: all .4s ease-out

        &:hover
          background-color: rgb(0, 153, 255)
          color: #fff
</style>
