<template>
  <div class="footer">
    <div class="footer--logo">
      Sparkl Spot
    </div>
    <div class="footer--contacts">
      <div class="phones">
        <div>
          <i class="fas fa-phone"/>
          <a href="tel:+79133943406">+7 (913) 394-34-06</a>
        </div>
        <div>
          <i class="fas fa-phone"/>
          <a href="tel:+79139549124">+7 (913) 954-91-24</a>
        </div>
      </div>
      <div class="addresses">
        <div>
          <i class="fas fa-envelope"/>
          <a href="mailto:russkaia40@gmail.com">russkaia40@gmail.com</a>
        </div>
        <div>
          <i class="fas fa-map-marker"></i>
          <a href="https://go.2gis.com/n0c08t" target="_blank">Новосибирск</a>
        </div>
      </div>
    </div>
    <div class="socials">
      
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator'

import Menubar from 'primevue/menubar'
Vue.component('Menubar', Menubar)

@Component
export default class Navbar extends Vue {
  items: any = [
    {
      label: "О питомнике",
      command: () => this.$router.push('/'),
    },
    {
      label: "Коты и кошки",
      items: [
        {
          label: "Коты",
          command: () => this.$router.push('/male-cats'),
        },
        {
          label: "Кошки",
          command: () => this.$router.push('/lady-cats'),
        }
      ]
    },
    {
      label: "Контакты",
      command: () => this.$router.push('/contacts'),
    },
  ]
}
</script>

<style scoped lang="sass">
.footer
  // position: fixed
  bottom: 0
  z-index: 100

  width: 100%
  padding: 24px

  // background: #f8f9fa
  // border-top: 1px solid #dee2e6

  display: flex
  flex-wrap: wrap
  justify-content: space-around
  align-items: center

  background-color: #1c1c1a !important
  color: #fff

  &--logo
    
  &--contacts
    display: flex
    flex-wrap: wrap

    div
      margin-top: 10px
      margin-right: 18px

      // &:hover
      //   i, a
      //     color: #0084FF !important

      i, a
        color: #fff
        cursor: pointer
        transition: all .2s ease-in-out
      i
        margin-right: 10px
      a
        text-decoration: none
</style>
