<template>
  <div class="navbar">
    <Menubar :model="items">
      <template #start>
        <div class="navbar--logo">
          <img src="../../assets/koti_logo.PNG" alt="">
        </div>
      </template>
      <!-- <template #end>
        <div
          @click="$router.push('/admin/parent-cats')"
          class="navbar--admin-link"
        >
          Управление
        </div>
      </template> -->
    </Menubar>
  </div>
</template>

<script lang="ts">
import { Component, Vue} from 'vue-property-decorator'

import Menubar from 'primevue/menubar'
Vue.component('Menubar', Menubar)

@Component
export default class Navbar extends Vue {
  items: any = [
    {
      label: "О питомнике",
      command: () => this.$router.push('/'),
    },
    {
      label: "Свободные котята",
      command: () => this.$router.push('/for-sale-cats'),
    },
    {
      label: "Коты и кошки",
      items: [
        {
          label: "Коты",
          command: () => this.$router.push('/male-cats'),
        },
        {
          label: "Кошки",
          command: () => this.$router.push('/lady-cats'),
        }
      ]
    },
    {
      label: "Контакты",
      command: () => this.$router.push('/contacts'),
    },
  ]
}
</script>

<style scoped lang="sass">
.navbar
  position: fixed
  width: 100%
  z-index: 100
  top: 0

  .navbar--logo
    img
      width: 300px
      height: 80px

  .p-menubar
    background-color: #1c1c1a !important
    color: #fff
    border: none !important
    border-radius: 0 !important
    display: flex
    justify-content: space-around

    ::v-deep .p-menubar-end
      margin: 0 !important

    ::v-deep .p-menuitem-text, ::v-deep .p-menuitem-link
      color: #fff !important
      background: #1c1c1a !important
  
  ::v-deep .p-submenu-list
      background: #1c1c1a !important

      &:hover
        background: #1c1c1a !important
  ::v-deep .p-menuitem
      .p-menuitem-link
        &:hover
          background: #1c1c1a !important

  &--logo
    margin-right: 30px
  
  &--admin-link
    cursor: pointer
</style>
